*
{
  margin: 0px;
  padding: 0px;
  border: none;
  color: rbga(0, 0, 0, 0.0);
  background-color: rbga(0, 0, 0, 0.0);
}

a
{
  color: black;
  text-decoration: underline;
}
a:hover
{
  text-decoration: none;
}

hr
{
  width: 25px;
  border: 1px solid grey;
}

body
{
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
}

section
{
  height: auto;
  width: 350px;

  margin-top: 5%;
}

h1
{
  font-size: 48px;
}

h2
{
  font-size: 28px;
}

img
{
  height: auto;
  width: inherit;
  margin-top: 5%;
}

p
{
  font-size: 20px;
}

@media(max-width: 640px)
{
  body
  {
    position: absolute;
    left: 5%;
    right: 5%;
  }
}