*
{
  
  margin: 0px;
  padding:0px;
  border: none;

  background-color: rgba(0,0,0,0.0);
  color: rgba(0,0,0,0.0);
  text-decoration: none;
}

body
{
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;

  font-family: 'Courier New', Courier, monospace;
}

header
{
  font-size: 36px;
  color: black;
}

section
{
  margin-top: 20px;
}

p
{
  font-size: 24px;
  color: grey;
}

a
{
  font-size: inherit;
  color: inherit;
}

a:hover
{
  text-decoration: underline;
}